<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            West End Restaurants

        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}" />
    </head>
    <body style="background-image: url({% static 'images/Background.jpg' %})">
        <div class="navbar">
        <div style="float:left;">
        <h1 style="margin: 20px;"> West End Restaurants </h1>
        </div>
            
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search for a restaurant">
                <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
                </button>
            </div>
        </div>  
        </div>
        <div>
            {% block body_block %}
            
            
            {% endblock %}
        </div>
        
        <div>
            {% block sidebar_block %}
               
            {% endblock %}
        </div>
        <div class="footer">
            <ul>
               <a href="{% url 'FAQ' %}" style="padding-right : 300px; color:white;">FAQ</a>
               <a href="{% url 'about' %}" style="padding-right : 300px; color:white;">About Us</a>
               <a href="{% url 't&cs' %}" style="padding-right : 300px; color:white;">T&Cs</a>
               <a href="{% url 'contact-us' %}" style="padding-right : 300px; color:white;">Contact Us</a> 
            </ul>

        </div>

            <