{% extends 'WER_app/base.html' %}

{% block body_block %}
        
<section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-2w" data-rv-view="9851">

<div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(189, 224, 235);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><strong>
                    CONTACT US</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Question? Comment? Concern? Let us know below and we'll get back to you ASAP.
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>
            

<h2>Contact Us</h2>
<form method="post" id="contact_form">
    {% csrf_token %}
    {{ form }}
    
    <input type="submit" value="Submit" />
</form>


{% endblock %}