{% extends 'WER_app/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}



{% block title_block %}
    {{ page.title }}
{% endblock %}

{% block body_block %}
		<div style="margin: 20px;">
			<h2> Top rated </h2>
			<img src="/static/images/paesano.jpg"  alt="Paesano West End" style="width:40%">
		</div>
		<div class="mainPageText">
		<p>
		Compare and review your favourite resaturants in and around Glasgow's bustling West  End.
		
		Sign up today to add ratings and reviews. It's simple, fast and easy!
		</p>
		</div>
		
		
		<h2 style="clear:both; margin: 20px;">Paesano Pizza</h2>
		<h3 style="margin: 20px;">Ratings & reviews</h3>
		<div style="float:left; height=500px; margin: 20px;">
		<p>
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		</p>
		</div>
		
		<div style="float:right; height=500px; margin: 20px;">
		<p>
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		</p>
</div>

<div>  
<ul>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'register' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Login</a><li>
</ul>
            </div>
   <div> 
{% if user.is_authenticated %}
    howdy {{ user.username }}!
{% else %}
    hey there partner!
{% endif %}
    </div>
    
    <div>
<ul>
{% if user.is_authenticated %}
    <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
    <li><a href="{% url 'login' %}">Sign In</a></li>
    <li><a href="{% url 'register' %}">Sign Up</a></li>
{% endif %}
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'index' %}">Index</a></li>
</ul>

        </div>

		{% endblock %}
