{% extends 'WER_app/homeBase.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
    {{ page.title }}
{% endblock %}

{% block body_block %}
    <div class="hidden">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading" style = "color: white; text-align: center;">Welcome to West End Restaurants</h1>
        <p class="lead" style="color: white; text-align: center;">View, rate and compare cafes and restaurants in the bustling West End of Glasgow</p>
        <p align="center">
        <a href="/WER_app/review_sample/" class="btn btn-lg btn-secondary">Get Started</a>
        </p>
      </main>
</div>
</div>

{% endblock %}
