{% extends 'WER_app/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
    {{ page.title }}
{% endblock %}

{% block body_block %}
<h1>Login to West End Restaurants</h1>
<form id="login_form" method="post" action="{% url 'login' %}">
{% csrf_token %}
Username: <input type="text" name="username" value="" size="50" />
<br />
Password: <input type="password" name="password" value="" size="50" />
<br />
<input type="submit" value="submit" />
</form>

{% if user.is_authenticated %}
howdy {{ user.username }}!
{% else %}
hey there partner!
{% endif %}
{% endblock %}  
