{% extends 'WER_app/base.html' %}
{% load staticfiles %}

{% block body_block %}

        <div>
            <div>
        {% if pages %}
            {% for page in pages %}
     
               <h1><u> {{page.title}} </u></h1>
               <img src = "{{ MEDIA_URL}}{{page.picture}}" alt = "Restaurant Picture" />
               
               <div id="map"></div>
                <script>
                // Initialize and add the map
                function initMap() {
                 // The location of Uluru
                  var coords = {lat: {{page.latitude}}, lng: {{page.longitude}}};
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 10, center: coords});
                 // The marker, positioned at Uluru
                 var marker = new google.maps.Marker({position: coords, map: map});
                }
                </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6zeXEmA7r55_YKB5Zy6pXIiuarsCBhdE&callback=initMap">
            </script>
               
               
               <h2> {{page.description}} </h2>
               <h3> {{page.address}} </h3>
               <h4> {{page.openingHours}} </h4>
        
    
            {% endfor %}
        {% endif %}
        
        {% if reviews %} 
        <ul> 
            {% for review in reviews %} 
                <li>{{review.date_modified}} - {{review.comment}} - Rating: {{review.avgRating}} </li> 
            {% endfor %} 
        </ul> {% else %} 
            <strong>There are no categories present.</strong> 
        {% endif %} 
        </div>
        {% if pages %}
            {% for page in pages %}
            
            
        <div>
            <a href="/WER_app/add_review/{{ page.slug }}">Add a New Review</a><br />
        </div>
        {% endfor %}
        {% endif %}
        
        <div class="footer">
            <ul>
               <a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">FAQ</a> 
                <a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">About Us</a> 
                <a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">T&Cs</a> 
                <a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">Contact Us</a> 
            </ul>

        </div>
{% endblock %}