{% extends 'WER_app/base.html' %}

     

            {% block body_block %}
          
           <style> 
                #Restaurant {
                  background: #f8f8ff;
                  opacity: 0.8;
                  padding: 40px;
                }
                
            </style>
            
        
            
            
        <div>    
        {% if pages %}
            
            {% for page in pages %}
                    <ul id="Restaurant"> 
                        <ul> <a href="/WER_app/page/{{ page.slug }}">{{ page.title }}</a>
                        <img src = "{{ MEDIA_URL}}{{page.picture}}" alt = "Restaurant Picture" style="width:160px;height:120px;" />
                        </ul>
                    </ul>
            {% endfor %}
             
        {% endif %}
       </div>
        
        <div> 
            {% endblock %}
        </div>
        
        
        
        